/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    padding: 2em 23em;
    background:rgba(17, 17, 17, 0.53);
}
@media (max-width: 1200px) {
    body{
        padding: 1em 10em;
        height: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 890px) {
    body{
        padding: 0em;
        height: 100%;
        margin-top: 40%;
    }
}

@media (max-width: 420px) {
    body{
        padding: 0em;
        height: 100%;
        margin-top: 20%;
    }
}