#A{
    background-color: lightgoldenrodyellow;
}

#B{
    background-color: lightcoral;
}

#C{
    background-color: lightgreen;
}

#D{
    background-color: #485391;
}

.container{
    background-color: #9fcac7;
    text-align: center;
}
